.github
.vscode
.yarn
node_modules
src
tests
config
.editorconfig
.eslintignore
eslint.config.js
.gitattributes
.gitignore
.mocharc.json
.prettierignore
prettier.config.js
.whitesource
.yarnrc.yml
tsconfig.build.json
tsconfig.json
update-voices.ts
yarn.lock